<!DOCTYPE html>
<html lang="en">
<head>
<style>
p {
    font-family: courier;
    font-size: 160%;
	border: 1px solid red;
    border-top-right-radius: 25px;
}
</style>
    <title>Results</title>
    
</head>
<body>
		<h1>Results:</h1>
		<h2>Name:</h2>
        <p><%= name %><p>
		<h2>Hobby:</h2>		
        <p><%= hobby %><p>
</body>
</html>